* {
  box-sizing: border-box;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1em;
}

body {
  font-family: 'Avenir', Helvetica, 'Segoe UI', Arial, sans-serif;
  line-height: 1.45;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4 {
  margin: 0 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 1.602em;
}

h2 {
  font-size: 1.424em;
}

h3 {
  font-size: 1.266em;
}

h4 {
  font-size: 1.125em;
}

small,
.small {
  font-size: 0.889em;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 2px;
}

input {
  line-height: 20px;
  padding: 0 3px;
}
select {
  height: 20px;
}
